html(lang="en")
  head

    title = Quality Global
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500", rel="stylesheet")
    link(href="../static/css/styles.css", rel="stylesheet")
  body
    #x
      block content
    script(src="../static/js/bundle.js")
