html(lang="en")
  head

    title .:: Quality Global::.
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="../static/css/styles.css")
  body
    #x
      block content
    script(type="text/javascript", src="../static/js/bundle.js")
