@import "../css/materialize.min.css"
@import "./react-table.styl"

div
ul
body
img
  vertical-align top
  box-sizing border-box


.bar
  background-color #f3f3f3
  border-radius .5em
  box-shadow inset
  height 25px
  >span
    color #fff
    font-weight bold
    line-height 25px

.blue-background-bar
  background-color #247cc0
  border-radius .10em
  line-height 25px
  height 25px
  text-align center
  width 0%

.green-background
  background green

.red-background
  background red

.containerImage
  margin 0

.display-block
  display block

.margin-right
  margin 0 0 0 auto

.margin-left-right
  margin 0 auto

.margin-0
  margin 0

.padding
  padding .5em

.padding-up-down
  padding .5em 0

.text-uppercase
  text-transform uppercase

.border-gray
  border 0 0 0 1px

.border-green
  border 2px dashed #9ccc65

/* UL padding override - see https://github.com/Dogfalo/materialize/issues/2786#issuecomment-234809753  */
ul { padding-left: 20px; }
.btn { font-size: .8em; }
/* not sure why this is needed... */
.material-icons { vertical-align: bottom; }
