
@import "../css/materialize.min.css"
@import "./normalize.styl"
@import "./react-table.styl"

div
ul
body
img
  vertical-align top
  box-sizing border-box

.green-background
  background green

.red-background
  background red

.containerImage
  margin 0

.display-block
  display block

.margin-right
  margin 0 0 0 auto

.margin-left-right
  margin 0 auto

.margin-0
  margin 0

.padding
  padding .5em

.padding-up-down
  padding .5em 0

.text-uppercase
  text-transform uppercase

.border-gray
  border 0 0 0 1px

.border-green
  border 2px dashed #9ccc65

.pagination-bottom
  height 90px
